## 1. Посмотреть документацию к API GitHub, разобраться как вывести список репозиториев для конкретного пользователя, сохранить JSON-вывод в файле *.json.

In [23]:
import requests
import json
import pandas as pd
from getpass import getpass
from pprint import pprint

In [24]:
user_agent = 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36'
user='SwayzeMind'
url = 'https://api.github.com'
username = input('username ')
r = requests.get(f'{url}/users/{user}/repos', user_agent)

username SwayzeMind

In [25]:
with open('data.json', 'w') as write_file:
    json.dump(r.json(), write_file)

In [26]:
with open('data.json', 'r') as read_file:
    data = json.load(read_file)

In [27]:
for i in data:
    pprint(i['name'])

'Data-Science-101'
'MySQL-'
'Questions-lesson-4'
'Web_API_PARSING'

In [28]:
for i in r.json():
    pprint(i['name'])

'Data-Science-101'
'MySQL-'
'Questions-lesson-4'
'Web_API_PARSING'

In [29]:
df = pd.read_json('data.json')

In [30]:
df = df.loc[:,['id','name','private']]
index = [1,2,3,4]
df.index = index
df

          id                name  private
1  235335459    Data-Science-101    False
2  219719782              MySQL-    False
3  239117608  Questions-lesson-4    False
4  246029495     Web_API_PARSING    False

## 2. Изучить список открытых API. Найти среди них любое, требующее авторизацию (любого типа). Выполнить запросы к нему, пройдя авторизацию. Ответ сервера записать в файл.

In [31]:
token= '2ba4075ec0dab5f70eb4540b6fb97bee702c9cc5'

r = requests.get('https://api.github.com/user', auth=(username, token))

data = r.json()
data_1 = json.loads(r.text)
data == data_1

True

In [32]:
repos = requests.get('https://api.github.com/user/repos', auth=(username, token))

for repo in repos.json():
    if repos.ok:
        print(repo['html_url'])

https://github.com/SwayzeMind/Check
https://github.com/SwayzeMind/Data-Science-101
https://github.com/SwayzeMind/MySQL-
https://github.com/SwayzeMind/NonPublic
https://github.com/SwayzeMind/Questions-lesson-4
https://github.com/SwayzeMind/Web_API_PARSING

In [33]:
with open('data_1.json', 'w') as write_file:
    json.dump(repos.json(), write_file)

In [34]:
df_1 = pd.read_json('data_1.json')

In [35]:
df_1 = df_1.loc[:,['id','name','private']]
index = [1,2,3,4,5,6]
df_1.index = index
df_1

          id                name  private
1  246030084               Check     True
2  235335459    Data-Science-101    False
3  219719782              MySQL-    False
4  246026855           NonPublic     True
5  239117608  Questions-lesson-4    False
6  246029495     Web_API_PARSING    False